---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h1>Hey! Listen!</h1>

<p class="intro">
  Hey, I'm Sheik, I do stuff with technology.
<p>

<h2>Follow me out there</h2>

<ul class="links">
  <li><a href="https://twitter.com/0xCryptoSheik">0xCryptoSheik on <strong>Twitter</strong></a></li>
  <li><a href="https://github.com/0xCryptoSheik">0xCryptoSheik on <strong>GitHub</strong></a></li>
</ul>

<h3>Support my work</h3>

<p>
  If you want to support my work, feel free to send me some SOL:
  <br>
  <strong>ShEiKFw4YkFZY1pojtUBPbwc36wLsnuGa3FpuRkbkvg</strong>
</p>
